@page "/counter"
@using Purchase.Data
@using Purchase.Services
@inject IMyService PurchaseService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current Proposal ID: @currentID1</p>
<p role="status">Current Proposal ID: @currentID2</p>

<button class="btn btn-primary" @onclick="Create">Создать</button>
<button class="btn btn-primary" @onclick="Delete">Удалить</button>
<button class="btn btn-primary" @onclick="Update">Обновить</button>
<input type="text" class="textbox" placeholder="Поиск" />

@code {
    private int currentID1 = 20;
    private int currentID2 = 21;

    private async void Create()
    {
        var proposal1 = new Proposal
            {
                Number = currentID1,
                DateCreation = DateTime.Now,
                Category = "Платы",
                Author = "Дмитрий Кузьмин",
                Department = "Отдел производства",
                Status = "в процессе"
            };

        var proposal2 = new Proposal
            {
                Number = currentID2,
                DateCreation = DateTime.Now,
                Category = "Инструменты",
                Author = "Артем Лебедев",
                Department = "Отдел производства",
                Status = "в процессе"
            };

        await PurchaseService.Create(proposal1); // Создание заявки
        await PurchaseService.Create(proposal2);

        currentID1 += 2;
        currentID2 += 2;
    }

    private async void Delete()
    {
        await PurchaseService.Delete(6); // Удаление заявки
    }

    private async void Update()
    {
        var updatedProposal = new Proposal
            {
                Number = 21,
                DateCreation = DateTime.Now,
                Category = "Диоды",
                Author = "Иван Петров",
                Department = "Отдел исследований",
                Status = "в процессе"
            };

        await PurchaseService.Update(updatedProposal); // Обновление заявки
    }
}